<header id="content-header">
  <% if current_user %>
    Logged in as: <%= link_to current_user.name, current_user %> |
     <%= link_to '[***Sign Out***]', session_path, method: :delete, class: 'button' %> |
     <%= link_to "[***Visit Site***]", "home" %>
  <% end %>
  <h3><br><%= pluralize(@users.size, 'User') %></h3>
</header>

<ul id="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>