<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>
    <% if current_user_admin? %>
      <p><%= link_to("[***Add New Experience***]", new_experience_path) %><br></p>
    <% end %>

        <% @experiences.each do |e| %>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="resume-content">
                <h3 class="mb-0"><%= e.title %></h3>
                <% if current_user_admin? %>
                  <%= link_to "[***Edit***]", edit_experience_path(e) %>
                  <%= link_to "[***Delete***]", experience_path(e), method: :delete, data: { confirm: 'Are you sure?' } %><br>
                <% end %>
                <div class="subheading mb-3"><%= e.location %></div>
                <p>
                  <% e.job_descriptions.each do |jd| %>
                    <i class="fas fa-chevron-circle-right"></i> <%= jd.description %><br>
                  <% end %>
                </p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary"><%= e.date %></span>
              </div>
            </div>
        <% end %>
  </div>
</section>