<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="avp">
    <div class="w-100">
        <h2 class="mb-5">Audio Visual Production Projects</h2>

        <% if current_user_admin? %>
            <p><%= link_to("[***Add New Project***]", new_project_path) %><br></p>
        <% end %>

        <h3>What's new?</h3>
        <p>Check out The Latinx Mental Health Podcast Promo release on February 17, 2019!</li><br><br>
            <audio src="<%= audio_path 'Promo 2.17.18.mp3'%>" type="audio/mpeg" controls>
                Your browser does not support the audio element.
            </audio>
        </p>
        <hr>

        <h3>Projects I have been working on over the years:</h3>
        <ul>
        <% @projects.each do |project| %>
            <li class="list-inline-item">
                <i class="fas fa-chevron-circle-right"></i>
                <strong><%= project.name %></strong> (My role: <%= project.credit %>)<br>
                <% if current_user_admin? %>
                    <%= link_to "[***Edit***]", edit_project_path(project) %>
                    <%= link_to "[***Delete***]", project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %><br>
                <% end %>
                <%= project.description %><br><br>
                Find out more at: <%= link_to project.link %>
            </li>
            <hr>
        <% end %>
        </ul>

    </div>
</section>